<h2>Restaurant of your choice</h2>
<h3><%= @restaurant.name %></h3>
<p><strong>Location:</strong> <%= @restaurant.address %></p>
<p><strong>Contact:</strong> <%= @restaurant.phone_number %></p>
<p><strong>Restaurant Category:</strong> <%= @restaurant.category %></p>

<%= link_to "Back to list", restaurants_path %>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <%= link_to "Remove", review_path(review), method: :delete, data: { confirm: "Are you sure?" } %>
    <li class="list-group-item"><%= review.content %>  |  rating:  <%= review.rating %></li>
  <% end %>
</ul>
